.replyMessageIcon, .deleteMessageIcon {
    width: 3%;
    height: auto;
    padding: -8px;
    border-radius: 10%;
    margin: 15px 5px;
}

.replyMessageIcon:hover{
    cursor: pointer;
    opacity: 70%;
}

.deleteMessageIcon:hover{
    cursor: pointer;
    opacity: 70%;
}

.message--icons{
    display:flex; 
    justify-content:flex-end;
}

.message{
    width: 85%;
    margin: 10px;
    border: 2px solid darkseagreen;
    border-radius: 4%;
    box-shadow: 0 0 3px darkolivegreen;
    padding: 8px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.messages{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.message--div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
}

.message--response, .postTitle__link{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.message--header {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}