.homepage__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 50px;
  
  }
  
  .homepage__item {
    border: 1px solid #ccc;
    background-color: darkslategray;
    margin: 10px;
    border-radius: 8%;
    padding: 5px 20px;
    box-shadow: 0 0 3px whitesmoke;
  }
  
  .homepage__link {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
  
  }
  
  .homepage__link:hover {
    opacity: 70%;
    cursor: pointer;
    transform: scale(1.2)
  }

  .subtitle{
    text-align: center;
    letter-spacing: 2px;
  }

  .homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -60px;
  }

  .randomPost--function {
    width: 70%;
    height: auto;
    margin: 100px 0;
    display: flex;
    justify-content: center;
  }
  