.randomPost {
    margin: 10px;
    border: 2px solid darkseagreen;
    border-radius: 10%;
    box-shadow: 0 0 3px darkolivegreen;
    padding: 30px;
    background-color: whitesmoke;
    height: auto;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.randomPostPhoto {
    width: 85%;
    height: auto;
    border-radius: 5%;
    margin-top: 20px;
}

.randomPost__link {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px darkolivegreen;
}

.randomPost__link:hover {
    cursor: pointer;
    opacity: 70%;
}