.post {
    margin: 10px 20px 15px 20px;
    border: 2px solid darkred;
    border-radius: 10%;
    box-shadow: 0 0 3px darkolivegreen;
    padding: 8px;
    background-color: whitesmoke;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.post header {
    font-weight: bold;
    margin-bottom: 5px;
}

.postPhoto {
    width: 100%;
    height: 150px;
    border-radius: 5%;
    flex-basis: 80%;
}

.post__link {
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px darkolivegreen;
    font-family: 'Just Another Hand', cursive;
    font-size: 30px;
}

.post__link:hover {
    cursor: pointer;
    opacity: 70%;
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}