.post {
    margin: 10px 20px 15px 20px;
    border: 2px solid darkred;
    border-radius: 10%;
    box-shadow: 0 0 3px darkolivegreen;
    padding: 1.5rem;
    background-color: whitesmoke;
    height: 250px;
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-self: start;
}

.post header {
    font-weight: bold;
    margin-bottom: 5px;
}

.postPhoto {
    width: auto;
    height: 8rem;
    border-radius: 5%;
    flex-basis: 80%;
}

.post__link {
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px darkolivegreen;
    font-family: 'Just Another Hand', cursive;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    ;
}

.post__link:hover {
    cursor: pointer;
    opacity: 70%;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-gap: 20px;
    justify-content: flex-start;
}

.noPostsDisplayed {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 3rem 8rem;
    padding: .75rem 1rem;
    border: 2px solid darkseagreen;
    border-radius: 4%;
    box-shadow: 0 0 3px darkolivegreen;
    background-color: darkslategray;
    color: whitesmoke;
}