.editPostIcon {
    width: 15%;
    height: auto;
    margin: 3px;
}

.deletePostIcon {
    width: 10%;
    height: auto;
    margin: 3px;
}

.editPostIcon:hover, .deletePostIcon:hover{
    cursor: pointer;
    opacity: 70%;
}


.icons-div{
    display: flex;
    justify-content: flex-end;
}

.post-date{
    font-size: 20px;
    font-family: 'Just Another Hand', cursive;
    letter-spacing: 1px;
}

.sortOldest {
    margin-left: 4rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    font-weight: 700;
    color: darkslategray;
}

.yourposts h1{
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    margin-left: 5%;
    font-size: 38px;
    letter-spacing: 3px;
}