.editProfileForm{
    padding: 10px 50px;
    border: 2px solid darkseagreen;
    border-radius: 4%;
    box-shadow: 0 0 3px darkolivegreen;
    background-color: darkslategray;
    color: whitesmoke;
    width: 33rem;
}

.editProfileForm-div{
    display:flex;
    justify-content: center;
}

.editProfile-group label{
    font-weight: 600;
    font-family: 'Just Another Hand', cursive;
    letter-spacing: 2px;
    font-size: 25px;
}


.editProfile-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto 10rem auto;
    width: 40rem;
}

.editProfile-parent h1{
    align-self: flex-start;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    margin-right: auto;
    font-size: 38px;
    letter-spacing: 3px;
    width: 33rem;
    margin-left: 2rem;
}

.editProfile-group select{
    padding: .1rem 1rem;
    font-size: .85rem;
    font-weight: 400;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid darkolivegreen;
    border-radius: .25rem;
    margin-left: .4rem;
    width: 13rem;
}

.saveProfileButton {
    background-color: darkred;
    border: 1px solid whitesmoke;
    border-radius: .25rem;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 7px 15px;
    margin-top: 15px;
    font-weight: 600;
}

.saveProfileButton:hover{
    cursor: pointer;
    opacity: 70%;
}

.saveProfileButton-container{
    display: flex;
    justify-content: flex-end;
}