.editProfileIcon{
    width: 8%;
    height: auto;
    border-radius: 15%;
    align-self:flex-end;
}

.editProfileIcon:hover{
    cursor: pointer;
    opacity: 70%;
}


.editProfileIcon:hover{
    cursor: pointer;
    opacity: 70%;
}

.profile{
    margin: 50px;
    border: 2px solid darkseagreen;
    border-radius: 5%;
    box-shadow: 0 0 3px darkolivegreen;
    padding: 30px 20px 30px 30px;
    background-color: whitesmoke;
    height: auto;
    display: flex;
    width: 33rem;
    justify-content: space-around;
}
.profile-div{
    display: flex;
    justify-content: center;
}


.profile--listItem{
    display: flex;
    align-items: center;
    
}

.profile--listItem h3 {
    margin: 5px 10px;
    font-family: 'Just Another Hand', cursive;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.profile--listItem div {
    font-size: 20px;
}

.profile--list {
    display:flex;
    flex-direction: column;
    width: 50%;
}

/*
Styling for profile photo...
.profilePhoto {
    width: 30%;
    height: auto;
    border: 2px solid darkseagreen;
    align-self: flex-end;
    margin-right: 20px;
}

.photo--icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */