.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.navbar__item {
    flex-basis: 15%;
}

.navbar__logout {
    margin-left: auto;
}

.tomatoLogo {
    width: 70px;
    height: auto;
    
}

.tomatoLogo:hover {
    cursor: pointer;
    opacity: 70%;
}

.title--div {
    flex-basis: 70%;
}

.dropdown-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    align-self: flex-end;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: darkslategray;
}



.dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
    background-color: darkslategray;
    border-radius: 5%;
    border-top: 3px solid darkred;
    margin-top: 10px;
}

.navbar__link{
    text-decoration: none;
    color: whitesmoke;
    font-size: 12px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 4px;
    font-weight: bold;
}

.dropdown-content a:hover {
    opacity: 70%;
    cursor: pointer;
    transform: scale(1.2);
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    white-space: nowrap;
    
}

.title--main {
    margin-block-end: 0;
    text-align: center;
    color: darkred;
    margin-bottom: 70px;
    font-family: 'Just Another Hand', cursive;
    font-weight: 900;
    letter-spacing: 6px;
    text-shadow: 0 0 6px white;
    font-size: 80px;
  }