.about section h2{
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    font-size: 30px;
    letter-spacing: 3px;
}

.about{
    width: 75%;
    margin: auto;
    border: 2px solid darkseagreen;
    border-radius: 3%;
    box-shadow: 0 0 3px darkolivegreen;
    padding: 15px 25px;
    background-color: whitesmoke;
}